body {
/*	padding-top: 80px;
*/	position: relative;
}
p {
	color:#474747;
	font-family:"Courier", serif;
	font-size: 1.2em;
}
h1, h2, h3, h4 {
	color:#474747;
	font-family:"Anton", sans-serif;
}
a {
	color: #F1592A;
}

/* Nav */
.navbar-brand {
	padding: 0 15px; /* bootstrap overwrite */
}
.navbar-brand :hover {
	background-color: #000;
}
#portfolio-web, #portfolio-graphic-design, #portfolio-seo, #about, #contact {
}
#portfolio-web {}
#portfolio-graphic-design {
/*	background-color: #3399ff;
*/}
#portfolio-seo {}
#about {
}
#contact {
}

/* Containers, Columns */
.blue-fw {
	background-color: #3399ff;
	width: 100%;
}
.grey-fw {
	background-color: #ccc;
	width: 100%;
}

/* Responsive */
@media (max-width: 297px) {
	.below-nav-pad {
		margin-top: 95px;
	}
}
@media (min-width: 298px) {
	.below-nav-pad {
		margin-top: 51px;
	}
}
@media (min-width: 768px) {
	.below-nav-pad {
		margin-top: 51px;
	}
	.blue-fw {
		min-height: 350px;
	}
	.grey-fw {
		min-height: 350px;
	}
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
